<div class="header-container">
    <img src="Edvak EHR-Vertical.png" alt="logo" class="logo">
    <i (click) = "openModel()" class="fa-solid fa-user"></i>
</div>


<!-- Modal (Popup) -->
<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>User Details</h2>
        <p><strong>First Name:</strong>{{firstName}}</p>
        <p><strong>Last Name:</strong>{{lastName}}</p>
        <p><strong>Email:</strong>{{email}}</p>
        <button (click) = "logout()" type="button">Logout</button>
    </div>
</div>


